// Dark Light Mode Changin Components:
// Changing components

// ✔ Body BG --> grey-light : blackish

// ✔ Logo   --> grey-dark : white
// ✔ Toggle --> grey : white (fff)

// ✔ Search Box  --> white (fefe) : dark-blue
// ✔ Search Text --> grey-blue : white(fff)

// ✔ Card BG --> white(fefe) : dark-blue
// ✔ Name    --> grey-blue : white(fff)
// ✔ Date    --> grey : white (fff)
// ✔ Bio     --> grey-blue : white(fff)

// ✔ Stats BG   --> grey-light : blackish
// ✔ Stat Title --> grey-blue : white (fff)
// ✔ Stat Num   --> grey-dark : white (fff)

// ✔ Link Icon --> grey-blue : white (fff)
// ✔ Text      --> grey-blue : white (fff)

// ######################
// ## ROOT Variables ####
// ######################
:root {
  --component-background: #fefefe;
  --account-text: #4b6a9b;
  --logo-title-number: #2b3442;
  --body-stats-background: #f6f8ff;
  --date-toggle: #697c9a;
  --toggleHover: #222731;
  --search-input-text: #222731;
  --box-shadow: 0px 16px 30px -10px #4660bb33;
}

[data-theme="dark"] {
  --component-background: #1e2a47;
  --account-text: #fff;
  --logo-title-number: #fff;
  --body-stats-background: #141d2f;
  --date-toggle: #fff;
  --toggleHover: #90a4d4;
  --search-input-text: #fff;
  --box-shadow: none;
}

// ######################
// ## Font Variables ####
// ######################
$default-font-size: 1.6rem;

// ########################
// ## Spacing Variables ###
// ########################

// ######################
// ## Color Variables ###
// ######################

//lightmode
$color-blue: #0079ff;
$color-grey: #697c9a;
$color-grey-blue: #4b6a9b;
$color-grey-dark: #2b3442;
$color-grey-light: #f6f8ff;
$color-white: #fefefe;

//darkmode
// $dm-color-blue: #0079ff;
// $dm-color-white: #fff;
// $dm-color-dark-blue: #1e2a47;
// $dm-color-blackish: #141d2f;

//Note: will probably need to refactor above with root for darkmode feature. Just using to get styling going.

// [data-theme="dark"] {
// }

$transition-width: width 0.3s ease-in;
