@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --component-background: #fefefe;
  --account-text: #4b6a9b;
  --logo-title-number: #2b3442;
  --body-stats-background: #f6f8ff;
  --date-toggle: #697c9a;
  --search-input-text: #222731;
  --box-shadow: 0px 16px 30px -10px #4660bb33;
}

[data-theme=dark] {
  --component-background: #1e2a47;
  --account-text: #fff;
  --logo-title-number: #fff;
  --body-stats-background: #141d2f;
  --date-toggle: #fff;
  --search-input-text: #fff;
  --box-shadow: none;
}

/*
0 - 600px:        Phone
600 - 900px:      Tablet Portrait
900 - 1200px:     Tablet Landscape
[1200 - 1800px]:  Desktop - Where Normal Styles Apply
1800px + :        Big Desktop
*/
/*
$breakpoint argument choices: 
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px;


ORDER [When refactoring for responsiveness]: Base + typography > general layout + grid > page layout > components
*/
body,
a {
  font-size: 1.5rem;
  font-family: "Space Mono", monospace;
  line-height: 2.5rem;
  font-weight: normal;
  color: var(--account-text);
}
@media only screen and (max-width: 37.5em) {
  body,
  a {
    font-size: 1.3rem;
  }
}

h1,
.heading-primary {
  font-size: 2.6rem;
  line-height: 3.8rem;
  font-weight: bold;
  color: var(--logo-title-number);
}

h2,
.heading-secondary {
  font-size: 2.2rem;
  line-height: 3.3rem;
  font-weight: bold;
  color: var(--logo-title-number);
}

h3,
.heading-tertiary {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: normal;
}

h4,
.header-quarternary {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: normal;
}

p {
  line-height: normal;
}

.error {
  color: #f74646;
  font-weight: 700;
  line-height: normal;
  font-size: 1.5rem;
}

.not-active {
  color: #a5b4cc;
  fill: #a5b4cc;
  font-weight: 400;
  line-height: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Default browser font size is 16px. This gives you 10px baseline, making it easier to calculate rems*/
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--body-stats-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 10px;
}

.nav__info-bar {
  display: flex;
  justify-content: space-between;
  width: 730px;
  transition: width 0.3s ease-in;
}
@media only screen and (max-width: 48em) {
  .nav__info-bar {
    width: 573px;
  }
}
@media only screen and (max-width: 37.5em) {
  .nav__info-bar {
    width: 327px;
  }
}
.nav__toggle {
  display: flex;
  gap: 16px;
  align-items: center;
  cursor: pointer;
}
.nav__toggle:hover .nav__toggle--mode, .nav__toggle:hover .nav__toggle--icon {
  color: #222731;
  fill: #222731;
}
.nav__toggle--mode {
  text-transform: uppercase;
  font-weight: 700;
  color: #697c9a;
  letter-spacing: 2.5px;
}
.nav__toggle--icon {
  width: 20px;
  height: 20px;
  fill: #697c9a;
}

.result-card {
  gap: 40px;
  border-radius: 15px;
  background-color: var(--component-background);
  box-shadow: var(--box-shadow);
  padding: 48px;
  width: 730px;
  transition: width 0.3s ease-in;
}
@media only screen and (max-width: 48em) {
  .result-card {
    width: 573px;
    padding: 40px;
  }
}
@media only screen and (max-width: 37.5em) {
  .result-card {
    width: 327px;
    padding: 24px;
  }
}
.result-card__info {
  padding-left: 154px;
}
@media only screen and (max-width: 48em) {
  .result-card__info {
    padding-left: 0;
  }
}
.result-card__avatar {
  height: 117px;
  width: 117px;
  position: absolute;
  transition: all 0.5s ease-out;
}
@media only screen and (max-width: 37.5em) {
  .result-card__avatar {
    height: 70px;
    width: 70px;
    margin-top: 8px;
  }
}
.result-card__dev-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media only screen and (max-width: 48em) {
  .result-card__dev-title {
    padding: 12px 0 12px 158px;
    margin-bottom: 26px;
  }
}
@media only screen and (max-width: 37.5em) {
  .result-card__dev-title {
    padding: 9px 0 9px 90px;
    margin-bottom: 34px;
  }
}
@media only screen and (max-width: 37.5em) {
  .result-card__dev-title--name h1 {
    line-height: normal;
    font-size: 1.6rem;
  }
}
.result-card__dev-title--name p {
  color: #0079ff;
  font-size: 1.6rem;
}
@media only screen and (max-width: 37.5em) {
  .result-card__dev-title--name p {
    font-size: 1.3rem;
  }
}
.result-card__dev-title--date {
  line-height: normal;
  color: var(--date-toggle);
}
@media only screen and (max-width: 37.5em) {
  .result-card__dev-title--date {
    font-size: 1.3rem;
  }
}
.result-card__dev-about {
  margin-bottom: 32px;
  line-height: 2.5rem;
}
@media only screen and (max-width: 37.5em) {
  .result-card__dev-about {
    font-size: 1.3rem;
    margin-bottom: 23px;
  }
}

.result-card__dev-stats {
  display: flex;
  justify-content: space-between;
  background-color: var(--body-stats-background);
  border-radius: 10px;
  padding: 15px 32px;
  margin-bottom: 37px;
}
.result-card__dev-stats--title {
  line-height: normal;
}
@media only screen and (max-width: 37.5em) {
  .result-card__dev-stats--title {
    font-size: 1.1rem;
  }
}
.result-card__dev-stats--number {
  line-height: normal;
}
@media only screen and (max-width: 37.5em) {
  .result-card__dev-stats--number {
    font-size: 1.6rem;
    text-align: center;
  }
}

.result-card__dev-links {
  display: flex;
  flex-wrap: wrap;
  gap: 62px;
}
@media only screen and (max-width: 37.5em) {
  .result-card__dev-links {
    gap: 17px;
    font-size: 1.3rem;
  }
}
.result-card__dev-links--left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (max-width: 37.5em) {
  .result-card__dev-links--left {
    gap: 17px;
  }
}
.result-card__dev-links--location {
  display: flex;
}
.result-card__dev-links--location::before {
  content: url(../assets/icon-location.svg);
  margin-right: 24px;
  height: 20px;
}
.result-card__dev-links--site {
  text-decoration: none;
  display: flex;
}
.result-card__dev-links--site::before {
  content: url(../assets/icon-website.svg);
  margin-right: 20px;
  height: 20px;
}
.result-card__dev-links--site:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.result-card__dev-links--right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (max-width: 37.5em) {
  .result-card__dev-links--right {
    gap: 17px;
  }
}
.result-card__dev-links--twitter {
  display: flex;
}
.result-card__dev-links--twitter::before {
  content: url(../assets/icon-twitter.svg);
  margin-right: 20px;
  height: 20px;
}
.result-card__dev-links--github {
  display: flex;
}
@media only screen and (max-width: 37.5em) {
  .result-card__dev-links--github {
    padding-bottom: 25px;
  }
}
.result-card__dev-links--github::before {
  content: url(../assets/icon-company.svg);
  margin-right: 20px;
  height: 20px;
}

.search-bar {
  background-color: var(--component-background);
  width: 730px;
  height: 70px;
  padding: 10px;
  margin: 36px 0 24px;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  position: relative;
  transition: width 0.3s ease-in;
  cursor: pointer;
}
@media only screen and (max-width: 48em) {
  .search-bar {
    width: 573px;
  }
}
@media only screen and (max-width: 37.5em) {
  .search-bar {
    width: 327px;
    height: 60px;
    margin-bottom: 16px;
    padding: 7px;
  }
}
.search-bar::before {
  content: url(../assets/icon-search.svg);
  margin: 0 22px;
}
@media only screen and (max-width: 37.5em) {
  .search-bar::before {
    margin: 0 9px;
    transform: scale(0.83);
  }
}
.search-bar__input {
  max-width: 395px;
  width: 100%;
  font-family: "Space Mono", monospace;
  font-size: 1.8rem;
  color: var(--account-text);
  background-color: var(--component-background);
  line-height: 25px;
  border-style: none;
  caret-color: #0079ff;
}
.search-bar__input:focus {
  outline: none;
  color: var(--search-input-text);
}
.search-bar__input::-moz-placeholder {
  color: var(--account-text);
}
.search-bar__input::placeholder {
  color: var(--account-text);
}
@media only screen and (max-width: 37.5em) {
  .search-bar__input {
    font-size: 1.3rem;
    max-width: 184px;
    padding-right: 7px;
  }
}
.search-bar__alert {
  margin: 0 24px;
  position: absolute;
  right: 140px;
  display: none;
}
@media only screen and (max-width: 48em) {
  .search-bar__alert {
    right: 100px;
  }
}
@media only screen and (max-width: 37.5em) {
  .search-bar__alert {
    font-size: 1.3rem;
    top: -20px;
    left: 0;
  }
}
.search-bar__btn {
  background-color: #0079ff;
  border-radius: 10px;
  border-style: none;
  font-family: "Space Mono", monospace;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  width: 106px;
  height: 50px;
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.search-bar__btn:hover {
  background-color: #60abff;
}
@media only screen and (max-width: 37.5em) {
  .search-bar__btn {
    width: 84px;
    height: 46px;
    font-size: 1.4rem;
  }
}/*# sourceMappingURL=main.css.map */