.result-card {
  //   display: flex;
  gap: 40px;

  border-radius: 15px;
  background-color: $color-white;
  box-shadow: 0px 16px 30px -10px #4660bb33;

  padding: 48px;

  @include clamp-width;

  //   &__left {
  //   }

  &__info {
    padding-left: 154px;
  }

  // Does it make more sense to break Left/right up into own groupings instead of nested.

  &__avatar {
    height: 117px;
    width: 117px;

    position: absolute;
  }

  &__dev-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    &--name {
      p {
        color: $color-blue;
      }
    }

    &--date {
      line-height: normal;
      color: $color-grey;
    }
  }

  &__dev-about {
    margin-bottom: 32px;
  }
}

.result-card__dev-stats {
  display: flex;
  justify-content: space-between;

  background-color: #f6f8ff;
  border-radius: 10px;
  padding: 15px 32px;

  margin-bottom: 37px;

  &-group {
  }
  &--title {
    line-height: normal;
  }
  &--number {
    line-height: normal;
  }
}

.result-card__dev-links {
  display: flex;

  gap: 62px;

  &--left {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &--location {
    display: flex;

    &::before {
      content: url(../assets/icon-location.svg);
      margin-right: 24px;
    }
  }
  &--site {
    text-decoration: none;
    display: flex;

    &::before {
      content: url(../assets/icon-website.svg);
      margin-right: 20px;
    }

    &:hover {
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: none;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
    }
  }

  &--right {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &--twitter {
    display: flex;
    &::before {
      content: url(../assets/icon-twitter.svg);
      margin-right: 20px;
    }
  }
  &--github {
    display: flex;
    &::before {
      content: url(../assets/icon-company.svg);
      margin-right: 20px;
    }
  }
}
