.result-card {
  display: flex;
  gap: 40px;

  border-radius: 15px;
  background-color: $color-white;
  box-shadow: 0px 16px 30px -10px #4660bb33;

  padding: 48px;

  width: 730px;

  &__left {
  }
  &__right {
  }

  // Does it make more sense to break Left/right up into own groupings instead of nested.

  &__avatar {
    height: 117px;
    width: 117px;
  }

  &__dev-title {
    &--name {
    }

    &--date {
    }
  }

  &__dev-about {
  }
}

.result-card__dev-stats {
  &-group {
  }
  &--title {
  }
  &--number {
  }
}

.result-card__dev-links {
  &--left {
  }
  &--location {
    &::before {
      content: url(../assets/icon-location.svg);
      margin-right: 20px;
    }
  }
  &--site {
    &::before {
      content: url(../assets/icon-website.svg);
      margin-right: 20px;
    }
  }

  &--right {
  }
  &--twitter {
    &::before {
      content: url(../assets/icon-twitter.svg);
      margin-right: 20px;
    }
  }
  &--github {
    &::before {
      content: url(../assets/icon-company.svg);
      margin-right: 20px;
    }
  }
}
