.search-bar {
  background-color: var(--component-background);
  width: 730px;
  height: 70px;

  padding: 10px;
  margin: 36px 0 24px;

  border-radius: 15px;

  box-shadow: var(--box-shadow);

  //   position: relative;

  display: flex;
  align-items: center;
  //   justify-content: space-between;

  position: relative;
  transition: $transition-width;

  cursor: pointer;

  @include respond(tablet) {
    width: 573px;
  }
  @include respond(phone) {
    width: 327px;
    height: 60px;
    margin-bottom: 16px;
    padding: 7px;
  }

  &::before {
    content: url(../assets/icon-search.svg);
    margin: 0 22px;

    @include respond(phone) {
      margin: 0 9px;
      transform: scale(0.83);
    }
  }

  &__input {
    max-width: 395px;
    width: 100%;
    font-family: "Space Mono", monospace;
    font-size: 1.8rem;
    color: var(--account-text);
    background-color: var(--component-background);
    line-height: 25px;
    border-style: none;
    caret-color: $color-blue;
    &:focus {
      outline: none;
      color: var(--search-input-text);
    }

    &::placeholder {
      color: var(--account-text);
    }

    @include respond(phone) {
      font-size: 1.3rem;
      max-width: 184px;
      padding-right: 7px;
    }
  }

  &__alert {
    margin: 0 24px;
    position: absolute;
    right: 140px;

    display: none;

    @include respond(tablet) {
      right: 100px;
    }

    @include respond(phone) {
      font-size: 1.3rem;
      top: -20px;
      left: 0;
    }
  }
  &__btn {
    background-color: $color-blue;
    border-radius: 10px;
    border-style: none;

    font-family: "Space Mono", monospace;
    font-size: $default-font-size;
    font-weight: 700;
    color: #fff;

    width: 106px;
    height: 50px;

    position: absolute;
    right: 10px;

    cursor: pointer;

    &:hover {
      background-color: #60abff;
    }

    @include respond(phone) {
      width: 84px;
      height: 46px;

      font-size: 1.4rem;
    }
  }
}
