.hide {
  //   color: #f74646;
  //   font-weight: 700;
  //   line-height: normal;
  //   font-size: 1.5rem;
  display: none;
}

.no-bio {
  opacity: 0.75;
}

.not-active {
  color: #a5b4cc;
  fill: #a5b4cc;
  font-weight: 400;
  line-height: normal;

  &::before {
    filter: brightness(0) saturate(100%) invert(77%) sepia(19%) saturate(368%)
      hue-rotate(182deg) brightness(94%) contrast(87%) !important;
  }
}
