@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-size: 1.5rem; //15px;
  font-family: "Space Mono", monospace;
  line-height: 2.5rem;
  font-weight: normal;
}

h1,
.heading-primary {
  font-size: 2.6rem; //26px
  line-height: 3.8rem;
  font-weight: bold;
}

h2,
.heading-secondary {
  font-size: 2.2rem; //22px
  line-height: 3.3rem;
  font-weight: bold;
}

h3,
.heading-tertiary {
  font-size: 1.6rem; //16px
  line-height: 2.4rem;
  font-weight: normal;
}

h4,
.header-quarternary {
  font-size: 1.3rem; //13px
  line-height: 2rem;
  font-weight: normal;
}
